@{
    ViewData["Title"] = "Сложность алгоритмов";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        Всякая инфа про сложность алгоритмов
    </p>
</div>

<pre>
    <code>
        Тестовый код
    </code>
</pre>