@{
    ViewData["Title"] = "Алгоритмы";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        Алгоритмы — это изюминка программирования! Они представляют собой процессы или наборы инструкций, которые решают определенную задачу.
        В этом разделе мы рассмотрим различные алгоритмы с использованием языка программирования C#. Будем исследовать их основные принципы, реализацию и применение.
    <p>
</div>
