@{
    ViewData["Title"] = "Структуры данных";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        Структура данных - это некий способ организации информации в памяти определенным образом для эффективного хранения этой информации и извлечения.
        Структуры данных используются так или иначе в каждом проекте. Они позволяют упорядочивать, искать, анализировать и использовать данные с применением алгоритмов программирования. Для каждой структуры данных — свои алгоритмы.
    </p>
</div>
